<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ckz.core.mapper.LogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ckz.core.entity.Log" id="logMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="operTime" column="oper_time"/>
        <result property="clientIp" column="client_ip"/>
        <result property="reqUrl" column="req_url"/>
        <result property="method" column="method"/>
        <result property="operEvent" column="oper_event"/>
        <result property="operStatus" column="oper_status"/>
        <result property="logDesc" column="log_desc"/>
        <result property="appVersion" column="app_version"/>
    </resultMap>

</mapper>